body {
    background-color: rgb(53, 53, 53);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.pinned-top {
    background-color: #e4383b;
    height: 130vh;
}

.pinned-top h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Big Caslon FB';
    
}